#header {
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

#navi {
/*	border-color: black;
	border-style: solid;
	border-width: 1px;*/
	width: 25%;
	float: left;
}

#contants {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	width: 74%;
	float: right;
}

#main {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	clear: both;
}

#footer {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	clear: both;;
}
.xleft {
	float: left;
	border-color: silver;
}

.xright {
	float: right;
	border-color: silver;
}